.h{
    font-size: 1.5rem;
    // text-decoration: underline;
}

.contact-details{
font-size: 1.5rem;
margin-top: 7%;

    a{
        text-decoration: none;
        color: #ffd700;
        
        &:hover{
            color: azure;
            
        }
    }
    h3:hover{
        transform: scale(1.1);
        text-decoration: underline;
    }
}
.social{
    // position: inherit;
    bottom: 0px;
    color: #ffd700;
    font-family: Arial, Helvetica, sans-serif;
    
    .h4{
        font-size: 50px;
    };
    padding-top: 10%;
    a{
        
        margin: 10px;
        &:hover{
            transform: scale(1.1);
        }
    }
}